@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

.nav-container{
    /* border: 1px solid red; */
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar{
    /* border: 1px solid red; */
    width: 100%;
    background: #fff;
    color: #000;
}

.container-fluid{
    /* border: 1px solid green;  */
}

.collapse{
    /* border: 1px solid black;  */
    display: flex;
    justify-content: end;
}

.navbar-nav a{
    color: #000;
    transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover{
    color: #197964;
}

/* ####################### utility class #################33 */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;

}

/* ######################### utility class ##################### */

.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)),url("https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

/* ###################### about us ######################## */

#about{
    padding: 50px 0px;
    background: #f5f5f7;
}

.about-wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.about-text{
    /* border: 1px solid green; */
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards; 
}

.about-img{
    /* border: 1px solid blue; */
    flex: 1 1 400px;
    padding: 30px;
  
}

.about-img .picture{
    display: block;
    height: 300px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;
    
}

@keyframes about-img-animation{
    100%{
        transform: translate(0);
    }
}

@keyframes about-text-animation{
    100%{
        transform: translate(0);
    }
}

.para{
    color: #555;
    font-size: 1.6rem;
}

.small-about{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

#food{
    padding: 5rem 0 10rem 0;
     /* border: 1px solid red; */
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

#food .heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 40px;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 2rem;
}

.box{
    margin: 0 1rem;
    /* width: 30%; */
    /* height: auto; */
    position: relative;
    /* margin-top: 1rem; */
}

img{
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.box-content{
    /* border: 1px solid green; */
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    z-index: 2;
}

.box-content h3{
    color: #fff;
    font-size: 3rem;
}

.box:hover .box-content{
    opacity: 1;
    left: 50%;
}

.box::after{
    content: '.';
    /* border: 3px solid orange; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.box:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

#food-menu{
    
}

.food-menu-container{
    /* border: 2px solid black; */
    padding: 50px 0px 30px 0px;
 }

.food-menu-items{
    /* border: 2px solid green; */
    /* align-items: center; */
    padding-left: 5rem;
    display: flex;
    margin-bottom: 3rem;
}

.food-menu-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 2rem;
}

.food-menu-container .menu-picture{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}

.food-discription{
    margin: auto 1.4rem;
    padding-right: 3rem;
    /* border: 1px solid red; */
}

.food-tittle{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.food-discription p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 400;
}

.food-discription .food-price{
    color: #117964;
    font-weight: 700;
} 

.food-menu-container-2{
    /* border: 1px solid red; */
    width: 50%;


}

.food-menu-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.testmonials-container{
    padding: 5rem;
}

.testmonials-heading{
    font-size: 3rem;
    color: #555;
    padding-bottom: 3rem;
}

#testmonials{
    background: #f5f5f7;
}

.testmonials-text{
    font-size: 1.4rem;
}
